* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app
{
    background-color: #FFFAFA;
}


html, body {
    height: 100%;
    background-color: #FFFAFA;
}

.auth
{
    display: flex;
    background-color: #FFFAFA;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 200px;
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: white;
}

img 
{
    width: 400px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
#translog
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    line-height: auto; 
    letter-spacing: 2%;
    color: #1D2D50;
    margin-top: -70px;
}
#log
{ 
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    line-height: auto; 
    letter-spacing: 2%;
    color: #1A5FBB
}
.label
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width: 500px;
    height: 700px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}
#uchet
{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7A8BA8;
    font-weight: bold;
    font-family: Inter;
    font-size: 14px;
}
input
{
    padding-left: 15px;
    width: 460px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #C8D3E5;
}
.textinput
{
    width: 460px;
    align-self: flex-start;
    margin-left: 20px;
    text-align: left;
    color: #5A6A84;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
}
#noaccount
{
    text-align: right;
    color: #1A5FBB;
    font-family: Inter;
    font-size: 17px;
    width: 450px;
}
button
{
    width: 460px;
    height: 50px;
    background-color: #1A5FBB;
    border-radius: 10px;
    border: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#line
{
display: flex;
width: 480px;
height: 2px;
background-color: white;
}

hr {
    width: 90%;
    border: none;
    border-top: 1px solid #C8D3E5;
}

